@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg;
  }

  a {
    @apply text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-300 transition;
  }
}

@layer components {
  .m-b-start-auto {
    margin-block-start: auto;
  }

  .highlighter {
    @apply bg-blue-700 dark:bg-blue-500 box-decoration-clone	relative py-2 leading-loose shadow-blue-700 dark:shadow-blue-500 shadow-[-10px_0_0,10px_0_0];
  }

  .prose {
    @apply grid grid-cols-12 mx-auto max-w-7xl;
  }

  .prose > * {
    @apply xl:col-start-2 xl:col-span-10 col-span-12;
  }

  .prose p {
    @apply my-6 text-lg leading-8;
  }

  .prose h2 {
    @apply font-bold mt-10 mb-4 md:mt-10 text-blue-600 dark:text-blue-400 text-3xl leading-normal;
  }

  .prose h3 {
    @apply font-bold mt-6 mb-4 md:mt-10 text-blue-500 dark:text-blue-300 text-2xl leading-normal;
  }

  .prose h3 code:not(pre > code) {
    @apply bg-slate-200 border-blue-300 dark:bg-slate-800 dark:border-slate-600 border-[1px] px-1 py-0.5 rounded-sm text-xl;
  }

  .prose ul {
    @apply list-disc list-inside;
  }

  .prose li {
    @apply pl-8 pt-2;
  }

  .prose pre {
    @apply col-span-12;
  }

  .prose code:not(pre > code) {
    @apply bg-slate-200 border-blue-300 dark:bg-slate-800 dark:border-slate-600 border-[1px] px-1 py-0.5 rounded-sm text-base;
  }
}

/* Prism Highlight CSS */

pre[class*="language-"] {
  background-color: #20242d;
  color: #c7c8ff;
  direction: ltr;
  font-size: 1rem;
  hyphens: none;
  line-height: 1.375;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  min-width: 100px;
  width: 100%;
  max-width: 100%;
}

pre > code {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  display: block;
  max-width: 100%;
  min-width: 100px;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background-color: #dd92f633;
}

pre[class*="language-"]::before {
  background-color: #3c3949;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 10px;
  font-size: 14px;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
}

pre[class*="language-lisp"]::before {
  content: "lisp";
}

pre[class*="language-logs"]::before {
  content: "logs";
}

pre[class*="language-javascript"]::before {
  content: "js";
}

pre[class*="language-js"]::before {
  content: "js";
}

pre[class*="language-json"]::before {
  content: "json";
}

pre[class*="language-jsx"]::before {
  content: "jsx";
}

pre[class*="language-graphql"]::before {
  content: "GraphQL";
}

pre[class*="language-html"]::before {
  content: "html";
}

pre[class*="language-css"]::before {
  content: "css";
}

pre[class*="language-shell"]::before {
  content: "shell";
}

pre[class*="language-sh"]::before {
  content: "sh";
}

pre[class*="language-bash"]::before {
  content: "bash";
}

pre[class*="language-yaml"]::before {
  content: "yaml";
}

pre[class*="language-markdown"]::before {
  content: "md";
}

pre[class*="language-json"]::before,
pre[class*="language-json5"]::before {
  content: "json";
}

pre[class*="language-diff"]::before {
  content: "diff";
}

pre[class*="language-text"]::before {
  content: "text";
}

pre[class*="language-flow"]::before {
  content: "flow";
}

pre[class*="language-asciidoc"]::before {
  content: "asciidoc";
}

pre[class*="language-ts"]::before {
  content: "ts";
}

pre[class*="language-tsx"]::before {
  content: "tsx";
}

pre[class*="language-go"]::before {
  content: "go";
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  font-style: italic;
  color: #dd92f677;
}

.token.punctuation {
  color: #c7c8ff;
}

.token.constant {
  color: #69b4f9;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #dd92f6;
}

.token.property,
.token.function {
  color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #eeebff;
}

code.language-javascript,
.token.attr-name {
  color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string {
  color: #7efdd0;
}

.token.keyword {
  font-style: italic;
  color: #dd92f6;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #0adeff;
}

.token.placeholder,
.token.variable {
  color: #fc9;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c4b9fe;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline-width: 0.4em;
  outline-style: solid;
  outline-color: #8a75f5;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #2c2937;
}

.line-numbers-rows > span::before {
  color: #3c3949;
}
