@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --color-primary: #fff;
  --color-secondary: #081121;
  --color-accent: #f2f2f2;
  --color-text: #d8e4fd;
}

[data-theme="dark"] {
  --color-primary: #081121;
  --color-secondary: #f2f2f2;
  --color-accent: #0e1e3b;
  --color-text: #fcf7ff;
}

body {
  font-family: "Poppins", "sans-serif";
  background: var(--color-primary);
  color: var(--color-secondary);
}

@layer base {
  a {
    cursor: pointer;
  }
  p {
    @apply leading-8 pb-5;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-sm;
  }

  :not(pre) > code {
    @apply text-sm bg-accent py-1 px-1 text-secondary rounded border-blue-lightest border border-solid;
  }

  .main-nav .link.active {
    @apply border-b-4 border-solid border-red;
  }

  .main-nav .link.active:hover {
    @apply bg-transparent;
  }

  .main-nav .start-here.active {
    @apply bg-red;
  }

  .post-content table {
    @apply w-full table-auto mb-8;
  }

  .post-content table th {
    @apply px-4 py-2;
  }
  .post-content table td {
    @apply border px-4 py-2;
  }

  .post-content ul {
    @apply pb-4 pl-8 leading-8 list-disc;
  }

  .post-content ul > li > p,
  .post-content ul > li > ul {
    @apply pb-0;
  }

  .post-content h2,
  h2.styled {
    @apply text-xl font-bold border-l-8 border-red border-solid px-3 my-3;
  }

  @screen md {
    .post-content h2,
    h2.styled {
      @apply text-2xl;
    }
  }

  .post-content h3,
  h3.styled {
    @apply text-lg font-bold border-l-8 border-red border-solid px-3 my-3;
  }

  @screen md {
    .post-content h3,
    h3.styled {
      @apply text-xl;
    }
  }

  .post-content h4,
  h4.styled {
    @apply text-base font-bold border-l-8 border-red border-solid px-3 my-3;
  }

  @screen md {
    .post-content h4,
    h4.styled {
      @apply text-lg;
    }
  }
}
